<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
    <style>
      h1{
        color: rgb(70, 70, 70);
        font-family: 'Macondo', sans-serif;
        
      }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Royal Bureau of Investigation</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://lh3.googleusercontent.com/a/AGNmyxaWtMZWbXomI_M7ka2xmASzO5q0a0S5hFeSBkE=s288" height= 30% width="30%">
        RBI
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="home.html">Home</a>
        <a class="nav-link" href="AboutUs.html">About Us</a>
        <a class="nav-link" href="contactus.html">Contact Us</a>
      </div>
    </div>
  </div>
</nav>
    <br>
    <br>
    <br>
    <br>
    <center><h1>The Royal Bureau of Investigation</h1></center>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
  
  <center><div class="row justify-content-center">
    <div class="col-4">
      <img src="https://lh3.googleusercontent.com/contacts/AOq4LdYMc6QH5oRa6XewUG9y_0_FPbEODYgy7L_l46y_KxAPwhC470w=s272-p-k-rw-no" height=90% width=40% class="rounded-circle">
      <br>
      Nancy Drew
    </div>
    <div class="col-4">
      <img src="https://lh3.googleusercontent.com/a/AGNmyxb3SwrBZWBgentBeKS5Cl9cuzf8-e-VmILdLnY=s288" height=90% width=40% class="rounded-circle">
      <br>
      Sherlock Holmes
    </div>
    <div class="col-4">
      <img src="https://lh3.googleusercontent.com/a/AGNmyxZWMNsGMVKJ__n9Vgp0Mj0kVTwQfR8E5rNFWjm6=s288" height=90% width=40% class="rounded-circle">
      <br>
      Dr. John H. Watson
    </div>
  </div></center>
 
   
</div>
  </body>
</html>